.imagecontainer {
    width:170px;
    float:right;
    background-repeat: no-repeat;
    height:170px;
}

.contentpaneopen ul{
    padding-left:15px;
}

.contentpaneopen td{
    padding-right: 10px;
}
